# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Platform tooling
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# OS
.DS_Store
Thumbs.db
